body, html {
    height: 100%;
}
main {
    width: 1100px;
    margin: auto;
}
body{
    background-image: url('images/PURPLE1.jpeg');
    background-size:cover;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(35, 72, 92);
}

#Intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    line-height: 0.4;
    width: 800px;
    border-color: rgb(249, 243, 250);
    border-style: solid;
    border-width: 0.8em;
    margin: auto;
}

.Tagline{
    color: #f7f7f7;
    font-family: initial;
    font-size: 1em;
    font-weight: bold;
    border-bottom-style: groove;
    border-top-style: groove;
    border-color: rgb(176, 157, 247);
    border-width: 3px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

#Contents{
    margin-top: 60px;
}

#Contents ul {
    font-size: 1.3em;
    list-style-type: none;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(144, 116, 145);
    padding: 0.8em;
    display: flex;
    justify-content: space-around;
}

h2 {
    font-size: 40px;
    font-family: initial;
    line-height: 1em;
    padding-bottom: 0em;
    margin: 1.3em 0px 0px auto;
    color: rgb(35, 72, 92);       
}

#Who-is-She p {
    width: 1050px;
    height: 160px;
    font-size: 1.4em;
    border-style: ridge;
    border-color: rgb(234, 255, 201);
    border-width: 5px;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(132, 147, 165);
    display: flex;
    padding: 1em;
    margin: 20px auto;
}

#Experience p {
    width: 1050px;
    height: 300px;
    font-size: 1.4em;
    border-style: ridge;
    border-color: rgb(156, 243, 182);
    border-width: 5px;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(92, 112, 134);
    display: flex;
    padding: 1em;
    margin: 20px auto;
}

#Technical-Skill ul {
    width: 400px;
    height: 180px;
    font-size: 1.4em;
    border-style: ridge;
    border-color: rgb(234, 255, 201);
    border-width: 5px;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(73, 113, 156);
    display: flex;
    flex-direction:column;
    padding: 1em;
}

#Soft-Skill ul {
    width: 400px;
    height: 180px;
    font-size: 1.4em;
    display: flex;
    border-style: ridge;
    border-color: rgb(234, 255, 201);
    border-width: 5px;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(73, 113, 156);
    flex-direction:column;
    padding: 1em;
}


#Overall {
display: flex;
justify-content: space-between;
}

#Social-Media ul {
    width: 130px;
    height: 80px;
    font-size: 1.5em;
    border-style: ridge;
    border-color: rgb(234, 255, 201);
    border-width: 5px;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(92, 112, 134);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px 0px 0px;
    padding: 1em;
}

footer{
    color: rgb(255, 255, 255);
    text-decoration: underline; 
    font-weight: bold;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    line-height: 0;
    align-items: center;
    padding-bottom: 2em;
    list-style:circle;
}

a{
    color: grey;
    text-decoration: none;
    transition: 1000ms;
}

a:hover{
    color: palevioletred;
}

.fancy-box{
    font-size: 1.4em;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(92, 112, 134);
    line-height: 0;
    margin:20px auto;
}

button{
    background-color: rgb(243, 207, 243);
}

Section #Portfolio-detail {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    border-color: rgb(156, 243, 182);
    border-width: 5px;
    background-color: rgb(245, 245, 245);
    margin: 20px auto;
    padding: 1em;
}